[Unit]
Description=Consul
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=/usr/bin/mkdir -p /var/lib/consul
ExecStartPre=-/usr/bin/docker kill consul
ExecStartPre=-/usr/bin/docker rm consul
ExecStartPre=/usr/bin/docker pull quay.io/pingles/consul-coreos:pingles-repo

ExecStart=/bin/bash -c '/usr/bin/docker run \
                          --name consul \
                          -p ${COREOS_PRIVATE_IPV4}:8300:8300 \
                          -p ${COREOS_PRIVATE_IPV4}:8301:8301 \
                          -p ${COREOS_PRIVATE_IPV4}:8301:8301/udp \
                          -p ${COREOS_PRIVATE_IPV4}:8302:8302 \
                          -p ${COREOS_PRIVATE_IPV4}:8302:8302/udp \
                          -p ${COREOS_PRIVATE_IPV4}:8400:8400 \
                          -p ${COREOS_PRIVATE_IPV4}:8500:8500 \
                          -p ${COREOS_PRIVATE_IPV4}:53:53/udp \
                          --rm quay.io/pingles/consul-coreos:pingles-repo \
                          %m ${COREOS_PRIVATE_IPV4} -advertise ${COREOS_PRIVATE_IPV4}'
ExecStop=/usr/bin/docker stop consul

ExecStopPost=-/bin/bash -c '/usr/bin/etcdctl rm /consul.io/bootstrap/machines/%m'

[X-Fleet]
Conflicts=consul@*.service
